@model _2015137344_ENT.Entities.Hospedaje

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hospedaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioServicioTuristico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioServicioTuristico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomHospedaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomHospedaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalificacionHospedaje.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionHospedaje.Calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaHospedaje.NomCategoriaHospedaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaHospedaje.NomCategoriaHospedaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoHospedaje.NomTipoHospedaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoHospedaje.NomTipoHospedaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServicioTuristicoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
